{% extends 'default.html' %}
{% block head %}
News
{% endblock %}

{% block banner %}<div id="banner" class="banner b2">{% endblock %}
{% block content %}
<!--src="{{url_for('static', filename='images/icon.png')}}"-->
<div class="content">
    <h1>News</h1>
</div>
{% endblock %}
{% block content2 %}
<div id="brief" class="brief">
  <h2 id="title">News Headline</h2>
  <p id="cont">content</p>
</div>
{% endblock %}

{% block foot %}
  <script>
    loadarticle({% if dat %}{{dat | tojson}}{% endif %});
  </script>
{% endblock %}